
header {
    text-align: center;
}
.jumbotron {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: 900;
    background-image: url(https://images.wallpaperscraft.com/image/wall_brick_blue_149922_1920x1080.jpg)

}
body{
    background-image: url(https://images.wallpaperscraft.com/image/girl_book_glance_158900_1920x1080.jpg);
}
